

<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)"
    fxFlex =70 fxLayout="column wrap" fxLayoutGap= "10px" fxFlexOffset=15>
        
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input #inputTitle matInput type="text" formControlName="title" (input)="userInputTitle(inputTitle.value.length)" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Note</mat-label>
            <textarea #inputNote matInput type="text" formControlName="note" (input)="userInputNote(inputNote.value.length)"></textarea>
        </mat-form-field>
        <button mat-stroked-button type="submit"
            [disabled]="checkForm()"
            >{{data}}</button>
        <a mat-stroked-button (click)="closeDialog()"
            >Close</a>
    </form>
    </div>

    <p></p>