:host-context(body) {
    height: 100%;
    background-color: gray; 
    display: block;
}

.container{
    position: relative;
    /* height: 60%; */
}

.heading{
    position: inherit;
    text-align: center;
}

.form{
    position: inherit;
    text-align: center;
}



/* spinner */
/* .container-spinner{
    position: relative;
    height: 500px;
    width: 500px;
}

.spinner-div{
    position: absolute;
    height: 300px;
    width: 300px; */
    /* border: 5px solid red; */

/* } */

/* .text-div{
    position: absolute;
    /* border: 5px solid red; */
    /* height: 200px;
    width: 300px;
    text-align: center;
}  */

/* .... */