<div class="container" 
fxFlex fxLayout="column" 
fxLayoutAlign="center top" 
fxLayoutGap= "10px">
    <div class="heading" fxFlex ="20">
        <h3>Login</h3>
    </div>
    <div class="form">
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)"
fxFlex =70 fxLayout="column wrap" fxLayoutGap= "10px" fxFlexOffset=15>
    
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input #inputUsername matInput type="text" formControlName="username" (input)="userInputUsername(inputUsername.value.length)">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input #inputPassword matInput type="password" formControlName="password" (input)="userInputPassword(inputPassword.value.length)">
    </mat-form-field>
    <button mat-stroked-button type="submit"
        [disabled]="checkForm()"
        >Submit</button>
</form>
</div>

<ngx-spinner
    bdColor=""
    size="large"
    color="#212121"
    type="ball-atom"
    [fullScreen]="false">
</ngx-spinner>