<div class="container" fxFlex fxLayout="row wrap" fxLayoutAlign="center top" fxLayoutGap="10px">
    <div class="spinner-div" fxFlexAlign="start">
        <ngx-spinner 
        bdColor = ""
        size = "large" 
        color = "#212121" 
        type = "ball-atom" 
        [fullScreen] = "false">
        </ngx-spinner>
    </div>

    <div class="text-div" fxFlexAlign="end">
        <h3 style="color: black" >You have been successfully logged out</h3>
        <h3 style="color: black" >Redirecting to home</h3>
    </div>
</div>