<div class="outer-container">
<div class="container" fxFlex fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center" 
fxLayout.xs="column" 
fxLayoutAlign.xs="center"
fxFlex.xs=90

fxFlexOffset.xs=5>
<h1 fxShow.xs fxHide fxLayoutAlign="center" fxLayoutAlign.xs="center">Apps</h1>
        <div fxFlex=30 fxflexFill fxLayoutAlign="start center"
        fxFlex.xs=90 fxLayoutAlign.xs="center start">
                <a  mat-raised-button routerLink="calculator">
                        <mat-icon fxFlex fxflexFill fxLayoutAlign="center center">calculate</mat-icon></a>
        </div>
        <div fxFlex=30 fxflexFill fxLayoutAlign="center center"
        fxFlex.xs=90 fxLayoutAlign.xs="center center">
                <a mat-raised-button routerLink="notes">
                        <mat-icon fxFlex fxflexFill fxLayoutAlign="center center">notes</mat-icon></a>
        </div>
        <div fxFlex=30 fxflexFill fxLayoutAlign="end center"
        fxFlex.xs=90 fxLayoutAlign.xs="center end">
                <a mat-raised-button routerLink="three">
                        <mat-icon fxFlex fxflexFill fxLayoutAlign="center center">3d_rotation</mat-icon></a>
        </div>
</div>
</div>

