.container{
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: yellow;
    position: absolute;
    box-sizing:border-box;
}

.dispCarousel{
    /* left: 0%;
    top: 0%; */
    /* height: 80%; */
    height: 100%;
    width: 100%;
    background-color: red;
    display: inline-block;
    position: relative;
    border-style: double;
    overflow: scroll;
}
.dispImage{
    /* left: 0%;
    top: 0%; */
    height: 100%;
    width: 100%;
    
    display: inline-block;
    object-fit: cover;
    z-index: 1;
    border-style: double;
    /* position: absolute; */
}

.image{
    /* max-height: 70%;
    width: 70%; */
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-style: double;
}
.imageArray{
    /* left: 0%;
    top: 0%;
    height: 5%; */
    background-color: blue;
    /* object-fit: cover; */
    display: inline-block; 
    /* position: absolute; */
    border-style: double;
}
.img{
    /* left: 0%; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-style: double;
    /* position: absolute; */
    border-style: double;
}