
<canvas #canvas id="canvas" style="height: 100%; width: 100%;" ></canvas>

<span id="line"
                    (click)="pos = !pos"
                    [@line]="pos ? 'initial' : 'final'">
                </span>

                <span id="circle" 
                        (click)="pos = !pos"
                        [@circle]="pos ? 'initial' : 'final'">
</span>

<svg id="path"
     height="200" width="500">
    <path class="stroke" 
            [@path]="pathPos ? 'initial' : 'final'"
            style="fill:none;stroke:black;stroke-width:3"
            d="M 10 55 L 35 90 L 95 40" />
</svg>

<button type="button" (click)="pathPos = !pathPos">Draw</button>

