:host-context(body) {
    height: 100%;
    background-color: gray; 
    display: block;
}

#image{
    /* height: 75px; */
    /* height: 25%; */
    width: 30%;
    /* background-color: darkgray; */
    /* border-style: solid; */
}

.imageDiv{
    width: 30%;
}
.imageTools{
    width: 33%;
}

/* border */

/* .container{
    border-style: double;
}
.header{
    border-style: double;
}
.name{
    border-style: double;
}
.intro{
    border-style: double;
}
.tools{
    border-style: double;
}
.projects{
    border-style: double;
} */

