
<mat-nav-list fxFlex fxLayout="column wrap" fxLayoutGap="15px" fxLayoutAlign="space-around">
    <a mat-list-item routerLink="home">
        <mat-icon>home</mat-icon>
    </a>
    <a mat-list-item routerLink="profile">
        <mat-icon>face</mat-icon>
    </a>
    <a mat-list-item routerLink="projects">
        <mat-icon>computer</mat-icon>
    </a>
    <a mat-flat-button routerLink="about" routerLinkActive="active">
        <mat-icon>person_pin</mat-icon>
    </a>


    <a mat-list-item *ngIf="!loggedIn()" routerLink="register">
        <mat-icon>description</mat-icon>
    </a>
    <a mat-list-item *ngIf="!loggedIn()" routerLink="login">
        <mat-icon>meeting_room</mat-icon>
    </a>
    <a mat-list-item *ngIf="loggedIn()" routerLink="logout">
        <mat-icon>no_meeting_room</mat-icon>
    </a>

</mat-nav-list>