


<div class="outer-container" fxFlex fxLayout="row wrap">
    <div class="container" fxFlex=100 fxLayout="row wrap" fxLayoutGap="0px">
        <div class="heading" 
        fxFlex=100 fxLayout="row wrap">
           <div fxFlex=80><h1 fxLayoutAlign="center center">My Note</h1></div>
            <div fxFlex=10><a mat-flat-button (click)="openCreateDialog()" fxLayoutAlign="center center"><mat-icon>add</mat-icon></a></div>
        </div>
        <div class="accordion" 
        fxFlex=100>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let i of notes">
                <mat-expansion-panel-header>
                <h3 class="title"> {{ i.title }}</h3> 
                </mat-expansion-panel-header>
                <p> {{ i.note }} </p>
                <div class="note" fxFlex fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="15px">
                    <!-- <button (click)="openUpdateDialog(i._id)">Edit</button> -->
                    <button (click)="openUpdateDialog(i)">Edit</button>
                    <a (click)="confirmDelete(i._id)"><mat-icon>delete_sweep</mat-icon></a>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        </div>

    </div>
</div>